* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  position: fixed;
  z-index: 99999;
  background-color: white;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.153);
  width: 100%;
  height: 60px;
}

.brand {
  float: left;
}

.brand h2 {
  font-weight: normal;
  font-size: 18px;
  padding: 20px;
  letter-spacing: 3px;

}

.brand h2 span {
  font-weight: bolder;
}

.brand h2:hover {
  background-color: rgba(125, 122, 122, 0.122);
  cursor: pointer;
}

/* اللينكات */
.navbar {
  padding: 20px;

  float: right;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  letter-spacing: 3px;
  /* مسافة بين اللينكات */
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 15px;
}

.navbar ul li a:hover {
  background-color: rgba(128, 128, 128, 0.305);
}

header {
  width: 100%;
  height: 750px;
  background-image: url(architect.jpg);
  background-size: cover;

}
header h2{
  font-size: 34px;
  line-height: 790px;
  text-align: center;
  color: aliceblue;
  letter-spacing: 3px;
  font-weight: normal;
}
header h2 span{
  padding: 10px; ;
  font-weight: bold;
  background-color:  rgb(63, 61, 61);
}
.container{
  width: 95%;
  height: 700px;
  margin: 0 auto;
}
.container .Projects{
  margin: 30px 0;
}
.container .Projects p{
  font-size: larger;
}
.container .Projects hr{
  opacity: 20%;
  margin: 20px;
  width: 100%;
}
.parent{
  width:100%;
  
  
}
.parent .child{
  width: calc(100% /4 - 15px);
  position: relative;
  display: inline-block;
}
.parent .child img{
  
  width: 100% ;
  height: 100%;
}
.parent .child p{
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  font-size: 18px;
  padding: 12px;
}
.container .About{
  margin: 30px 0;
}
.container .About h4{
  font-size: larger;
}
/* .container .About p{
  font-weight: 300;
} */
.container .About hr{
  opacity: 20%;
  margin: 20px;
  width: 100%;
}
.parent2{
  margin-top: 33px;
  width:100%;
  
  
}
.parent2 .child2{
  width: calc(100% /4 - 15px);
  /* position: relative; */
  display: inline-block;
}
.parent2 .child2 img{
  
  width: 100% ;
  height: 100%;
}
/* .parent2 .child2 p{
 
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  font-size: 18px;
  padding: 12px;
} */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.contact {
  max-width: 800px;
  margin: auto;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.contact p {
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  resize: none;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button {
  width: 200px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-form button:hover {
  background: #333;
}
.site-footer{
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 22px;
}

  


